* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background-image: url(background.jpg);
  background-size: cover;
  font-family: "Nunito", sans-serif;
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  color: white;
  overflow: auto;
}

header {
  text-align: center;
  color: rgb(22,121,13);
  padding: 1.5rem;
  font-size: 1.7rem;
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

/* BOTÕES */

button {
  cursor: pointer;
  border: 1px solid white;
  color: white;
  padding: 6px;
  background: transparent;
}

.button.new {
  color: rgb(22,121,13);
  font-size: 2rem;
  margin: 2rem 5rem;
}

.button.cancel {
  border-radius: 4px;
}

/* BOARDS */

.boards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
  margin: 1rem 5rem;
}

.board h3 {
  padding: 1.8rem;
  color: rgb(22,121,13);
  font-size: 2rem;
  text-align: center;
  border: 1px solid rgb(22,121,13);
  border-radius: 5px 5px 0 0;
}

.dropzone {
  padding: 1rem;
  font-size: 1.5rem;
  min-height: 50rem;
  border: 1px solid rgb(22,121,13);
  border-radius: 0 0 5px 5px;
  overflow-y: auto;
}

/* CARDS */

.card {
  background-color: rgb(221,230,240);
  border: 1px solid rgb(22,121,13);
  border-radius: 5px;
  padding: .3rem;
  margin: 1rem;
  display: flex;
  color:black;
}

.is-dragging {
  opacity: .3;
}

.over {
  background-color: rgb(235,243,242);
}

/* MODAL */

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background-color: rgb(58,97,54);
  max-width: 500px;
  width: 90%;
  padding: 4rem;
  border-radius: 4px;
}

.title,.description,.select,.date {
  width:100%;
  padding:10px;
  margin-bottom:20px;
  border-radius:4px;
}

.description {
  height:80px;
}
